/* Estilos generales */
body {
    background-color: #c0c0d1; /* Color de fondo según la identidad de la marca */
    font-family: Arial, sans-serif;
}

/* Estilos del header */
header .logo {
    height: 40px;
}

.slogan {
    font-size: 1.2em;
    font-weight: bold;
}

/* Ajustes para el main */
main {
    padding-top: 80px; /* Para evitar que el contenido quede debajo del header fijo */
}

/* Estilos de las categorías y productos */
.category, .product {
    background-color: #f8f9fa; /* Color de fondo para los elementos */
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
}

@media (max-width: 768px) {
    .category, .product {
        margin-bottom: 20px;
    }
}
